*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: black solid 1px; */
}

.cabecalho{
    width:100%;
    height:15vh;
    background: #005DFF;
}

.rodape{
    width: 100%;
    height: 15vh;
    background: rgb(29, 77, 51);
}
a, p, label, input, td{
    font-family: 'Segoe UI', sans-serif;
}
h1, h2, h3, h4{
    font-family: 'Segoe UI', sans-serif;
}
body{
    font-size: 16px;
}

/* INÍCIO CABEÇALHO*/

.home_cabecalho_desk{
    width: 100vw;
    height: 138px;
    border-bottom: 2px solid #E6E6E6;
} 

/* INÍCIO MENU */

.home_cabecalho_menu_desk{
    width: 100vw;
    height: 141px;
    display: flex;
    justify-content: center;
}
.home_cabecalho_menu_desk_logo{
    width: 181px;
    height: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_cabecalho_menu_desk_logo img{
    width: 109px;
}

.home_cabecalho_menu_desk_search{
    width: 612px;
    height: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_cabecalho_menu_desk_search_input-search{
    width: 592px;
    height: 57px;
    display: flex;
    align-items: center;
    border: 0.125em solid #E2E2E2;
    border-radius: 0.5em;
    background-color: #E2E2E2;
}
.home_cabecalho_menu_desk_search_input-search input{
    font-size: 22px;
    color: #9F9F9F;
    border: none;
    margin-left: 9px;
    background-color: #E2E2E2;
}
.home_cabecalho_menu_desk_search_input-search i{
    font-size: 22px;
    margin-left: 21px;
    color: #9F9F9F;
}
.home_cabecalho_menu_desk_menu{
    width: 444px;
    height: 141px;
    display: flex;
    justify-content: center;
}
.home_cabecalho_menu_desk_menu_list{
    height: 141px;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.home_cabecalho_menu_desk_menu_list a{
    font-size: 22px;
    color: #7A7A7A;
    text-decoration: none;
    text-transform: uppercase;
    padding: 33px 22px;
}
.home_cabecalho_menu_desk_user{
    width: 129px;
    height: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_cabecalho_menu_desk_user_box{
    background-color: #E2E2E2;
    width: 60px;
    height: 60px;
    border: none 2px solid;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 16px #E2E2E2, 0px 0px 16px #E2E2E2;  
} 
.home_cabecalho_menu_desk_user_box img{
    width: 50px;
    height: 50px;
}

/* FIM MENU */

/* FIM CABEÇALHO */

/* INÍCIO BANNER */

/* .home_banner_desk{
    width: 100vw;
    height: 591px;
    background-color:#00205a;
} */

/* FIM BANNER */

/* INÍCIO FILTRO */
/* 
.home_filtro{
    width: 100vw;
    height: 346px;
    display: flex;
    justify-content: center;
}
.home_filtro_box{
    width: 1366px;
    height: 346px;
}
.home_filtro_box_top{
    width: 1366px;
    height: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_filtro_box_bottom{
    width: 1366px;
    height: 184px;
}
.home_filtro_box_top_title{
    width: 430px;
    border-bottom: #00205a 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_filtro_box_top_title p{
    font-size: 30px;
    font-weight: bold;
    color: #7A7A7A;
    text-transform: uppercase;
}
.home_filtro_box_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_filtro_box_bottom_box{
    width: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_filtro_box_bottom_box_text{
    width: 109px;
    border-bottom: #00205a 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.home_filtro_box_bottom_box_text p{
    font-size: 30px;
    font-weight: bold;
    color: #7A7A7A;
    text-transform: uppercase;
}
.home_filtro_box_bottom_box1{
    width: 398px;
    height: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_filtro_box_bottom_box1_box{
    width: 348px;
    height: 118px;
    border: none 2px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #7A7A7A, 0px 0px 12px #7A7A7A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_filtro_box_bottom_box1_box_1{
    width: 160px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.home_filtro_box_bottom_box1_box_1_circle{
     padding: 20px 20px; 
    width: 80px;
    height: 80px;
    border: none 2px solid;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #7A7A7A, 0px 0px 10px #7A7A7A;
}
*/
/* .home_filtro_box_bottom_box1_box_1_circle img{
    width: 40px;
}
#dell{
    width: 50px;
} */
/* .home_filtro_box_bottom_box1_box_1_circle p{
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 900;
    text-transform: uppercase; 
}
*/
/* FIM FILTRO */



/* Começo ==============CONTEUDO==========*/

/* Começo ==============produto_conteudo==========*/
.conteudo{
    width: 100%;
    height: 200vh;
}
.produto_conteudo{
    width: 100%;
    height: 70vh;
    background: #EAEAEA;
    /* padding: 4vw 0 0 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.produto_conteudo_center{
    width: 85%;
    height: 60vh;
    margin: 0vw auto 0 auto;
    display: flex;
    background: #FFFFFF;
    box-shadow: 2px 6px 70px -3px rgba(0,0,0,0.36);
    border-radius: 0.8rem;
}
.box1{
    width: 50vw;
    height: 60vh;
}
.box1 ul{
    text-decoration: none;
    display: flex;
    
}
.box1 img{
    width: 18vw;
    height: 22vh;
    margin: 11vh 4vw 1vh 12vw;
    /* margin: auto;
}
.box2{
    width: 50vw;
    height: 60vh;
    /* border-left-style: solid;
    border-left-width:0.1rem; */
}
.box2_cap{
    padding: 12vh 3.5vw 3.5vh 3.5vw;
}
.box2_cap_titulo{
    margin-bottom: 0.1rem;

}
.box2_cap_cod{
    margin-bottom: 3rem;
}
.box2_cap_preco{
    margin-bottom: 1rem;
}
.box2_cap_button{
    width: 30vw;
    height: 5vh;
    font-size: 1.4rem;
    background: #005DFF;
    color: white;
    border: none;
    border-radius: 0.3rem;
}

/* Fim ==============produto_conteudo==========*/

/* Começo ==============produto_desc_info==========*/

.produto_desc_info{
    width: 100%;
    height: 38vh;
    display: flex;
    justify-content: center;
    
}
.produto_desc {
    width: 78vw;
    height: 50vh;
    margin-top: 5vh;
}
.produto_desc2{
    background: #EAEAEA;
    height: 30vh;
    width: 78vw;
    border-radius: 0.3rem;
    box-shadow: 2px 6px 70px -3px rgba(0,0,0,0.14);
    padding: 1.6vh 1.6vw;
    /* margin: 0 auto; */
    margin-top:1.3vh ; 
}

/* Fim ==============produto_desc_info==========*/

/* Começo ==============produto_ficha_info==========*/

.produto_ficha_info{
    width: 77vw;
    height: 50vh;
    margin: 6vh auto 22vh auto;
}
.produto_ficha{
    margin-top:1vh;
}
.tabelas {
    color: #f0ffff;
    line-height: 150%;
    border-collapse: collapse;
    line-height: 200%;
    width: 78vw;
    background: #BBBBBB;
    margin: auto;
    border: solid 20px #EAEAEA;
}
.subt {
    text-align: start;
    background-color:#FFFFFF;
    padding-right: 5px;
    padding-left: 5px;
    color: #BBBBBB;
    border-top: 1.5px solid #B8B8B8;
    border-bottom: 1.5px solid #B8B8B8;
}
.colunafake {
    
    width: 1px;
    color: #BBBBBB;
    background-color:#FFFFFF;
    border-top: 1.5px solid #B8B8B8;
    border-bottom: 1.5px solid #B8B8B8;
}


 /* Fim ==============produto_ficha_info==========*/
 

 /*////////////////////////////////////////////////////////*/
/*///////////////////RESPONSIVO TABLET///////////////////*/
/*///////////////////////////////////////////////////////*/

@media screen and (max-width: 767px) and (min-width: 425px){
     
    .conteudo {
        width: 100%;
        height: 254vh;
    }
    .cabecalho{
        width:100%;
        height:15vh;
        background: rgb(15, 171, 199);
    }
    .rodape{
        width: 100%;
        height: 20vh;
        background: rgb(251, 255, 37);
        clear: inherit;
    }

    .produto_conteudo_center {
        width: 85%;
        height: 60vh;
        margin: 0vw auto 0 auto;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 2px 6px 70px -3px rgba(0,0,0,0.36);
        border-radius: 0.8rem;
    }

    .produto_desc_info {
        width: 100%;
        height: 98vh;
        display: flex;
        justify-content: center;
        /* margin-bottom: 36vh; */
    }
    .produto_desc {
        width: 80vw;
        /* height: 63vh; */
        margin-top: 3vh;
        /* margin: 0 auto;*/
    }

    .produto_desc2 {
        background: #EAEAEA;
        height: 95vh;
        width: 78vw;
        border-radius: 0.3rem;
        box-shadow: 2px 6px 70px -3px rgba(0,0,0,0.14);
        padding: 4.6vh 7.6vw;
        /* margin: 0 auto; */
        margin-top: 1.3vh;
    }
   
    .box2_cap {
        padding: 0vh 3.5vw 3.5vh 3.5vw;
        width: 86vw;
    }
    .box1 img {
        width: 36vw;
        height: 20vh;
        margin: 6vh 1vw 1vh 25vw;
    }
    .box1 ul {
        text-decoration: none;
        display: flex;
    }
    
    .box2_cap_titulo {
        margin-bottom: 0.1rem;
        width: 70vw;
        font-size: 1.4rem;
    }
    .box2_cap_cod{
        margin-bottom: 0.3rem;
        width: 20vw;
    }
    .box2_cap_preco{
        margin-bottom: 0.5rem;
        margin-left: 49vw;

    }
    .box2_cap_button{
        width: 50vw;
        height: 8vh;
        font-size: 1.4rem;
        background: #005DFF;
        color: white;
        border: none;
        border-radius: 0.3rem;
        margin-left: 15vw;
    }
}

/*////////////////////////////////////////////////////////*/
/*///////////////////RESPONSIVO MOBILE///////////////////*/
/*///////////////////////////////////////////////////////*/

@media screen and (max-width: 424px) and (min-width: 300px){
    .conteudo {
        width: 100%;
        height: 254vh;
    }
    .cabecalho{
        width:100%;
        height:15vh;
        background: rgb(44, 233, 154);
    }
    .rodape{
        width: 100%;
        height: 20vh;
        background: rgb(251, 255, 37);
        clear: inherit;
    }

    .produto_conteudo_center {
        width: 85%;
        height: 60vh;
        margin: 0vw auto 0 auto;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 2px 6px 70px -3px rgba(0,0,0,0.36);
        border-radius: 0.8rem;
    }

    .produto_desc_info {
        width: 100%;
        height: 98vh;
        display: flex;
        justify-content: center;
        /* margin-bottom: 36vh; */
    }
    .produto_desc {
        /* width: 70vw; */
        /* height: 63vh; */
        margin-top: 3vh;
    }
    .produto_desc2 {
        background: #EAEAEA;
        height: 95vh;
        width: 78vw;
        border-radius: 0.3rem;
        box-shadow: 2px 6px 70px -3px rgba(0,0,0,0.14);
        padding: 4.6vh 7.6vw;
        /* margin: 0 auto; */
        margin-top: 1.3vh;
    }
   
   
    .box2_cap {
        padding: 0vh 3.5vw 3.5vh 3.5vw;
        width: 86vw;
    }
    .box1 img {
        width: 36vw;
        height: 20vh;
        margin: 6vh 1vw 1vh 25vw;
    }
    .box1 ul {
        text-decoration: none;
        display: flex;
    }
    
    .box2_cap_titulo {
        margin-bottom: 0.1rem;
        width: 70vw;
        font-size: 1.4rem;
    }
    .box2_cap_cod{
        margin-bottom: 0.3rem;
        width: 20vw;
    }
    .box2_cap_preco{
        margin-bottom: 0.5rem;
        margin-left: 40vw;

    }
    .box2_cap_button{
        width: 52vw;
        height: 7vh;
        font-size: 1.4rem;
        background: #005DFF;
        color: white;
        border: none;
        border-radius: 0.3rem;
        margin-left: 14vw;
    }
}
